.zoomtimeline.mode-3dslider .details-container > .detail .detail-image, .zoomtimeline.mode-3dslider .details-container > .detail .detail-image--border {
    height: 340px;}
.zoomtimeline.mode-3dslider .yearlist-con:after {
    top: 231px; }
.zoomtimeline.mode-3dslider .details-container .detail .the-year {
    top: 198px;}
.zoomtimeline.mode-3dslider .details-container > input:checked + .detail .the-year {
    opacity: 1;
    top: 398px;
    text-align: center;
    font-size: 20px; }
.zoomtimeline.mode-3dslider .details-container > .detail .detail-excerpt {
    padding-top: 34px;}